@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to shayma Internet Banking</h1>
    <p>Riyadbank Project <a href="https://docs.microsoft.com/aspnet/core">Do Seemless Transfer of Funds</a>.</p>
</div>
